<ion-content [fullscreen]="true">

    <!-- footer -->
    <ion-footer>
      <div class="bottom-navbar">
        <div class="nav-button">
          <ion-icon name="home-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="people-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="stats-chart-outline"></ion-icon>
        </div>
        <div class="nav-button">
          <ion-icon name="scan-outline"></ion-icon>
        </div>
      </div>
    </ion-footer>
</ion-content>
