<ion-footer>
  <div class="bottom-navbar">
    <div class="nav-button" routerLink="/admin/home">
      <ion-icon name="home-outline"></ion-icon>
    </div>
    <div class="nav-button" routerLink="/admin/user-management">
      <ion-icon name="people-outline"></ion-icon>
    </div>
    <div class="nav-button" routerLink="/admin/stats-event">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </div>
    <div class="nav-button" routerLink="/logout">
      <ion-icon name="log-out-outline"></ion-icon>
    </div>
  </div>
</ion-footer>
