<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Statistik Event</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Info Kegiatan -->
  <div class="event-info-card" *ngIf="statisticData">
    <h2>{{ statisticData.event }}</h2>
    <p><strong>Kuota:</strong> {{ statisticData.kuota }}</p>
    <p><strong>Jumlah Pendaftar:</strong> {{ statisticData.jumlah_pendaftar }}</p>
    <p><strong>Hadir:</strong> {{ statisticData.hadir }}</p>
    <p><strong>Tidak Hadir:</strong> {{ statisticData.tidak_hadir }}</p>
    <p><strong>Persentase Kuota Terisi:</strong> {{ statisticData.persentase_kuota_terisi }}</p>
  </div>

  <!-- Grafik Chart.js -->
  <canvas id="eventChart" *ngIf="statisticData"></canvas>
</ion-content>
