<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">{{ event?.name || 'Detail Event' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div class="event-detail-card">
    <!-- <img [src]="getImageUrl(event.foto)" alt="Foto Event" class="event-image" /> -->
    <div class="event-info">
      <p><strong>Deskripsi:</strong> {{ event.deskripsi }}</p>
      <p><strong>Lokasi:</strong> {{ event.lokasi }}</p>
      <p><strong>Jenis:</strong> {{ event.jenis }}</p>
      <p><strong>Waktu:</strong> {{ event.waktu_mulai }} - {{ event.waktu_selesai }}</p>
      <p><strong>Kuota:</strong> {{ event.kuota }}</p>
      <p><strong>Sertifikat:</strong> {{ event.mengeluarkan_sertifikat ? 'Ya' : 'Tidak' }}</p>
      <p><strong>Aktif:</strong> {{ event.is_active ? 'Aktif' : 'Tidak Aktif' }}</p>
    </div>
  </div>

</ion-content>
