<ion-content [fullscreen]="true" class="ion-padding forgot-page">
  <div class="forgot-wrapper">
    <div class="forgot-card">
      <h2 class="title">Forgot Password</h2>
      <p class="subtitle">Enter your email and we’ll send you a reset link.</p>

      <ion-item lines="inset" class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Email" type="email" required></ion-input>
      </ion-item>

      <ion-button expand="block" class="forgot-button">Send Reset Link</ion-button>

      <p class="bottom-text">
        Remember your password?
        <a href="/login">Login here</a>
      </p>
    </div>
  </div>
</ion-content>
