<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">Detail Pengguna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="user-detail-card">
    <img src="assets/icon/test.jpg" alt="Foto Profil" class="profile-image" />

    <div class="user-info">
      <p><strong>Nama:</strong> Panji Gunawan</p>
      <p><strong>Email:</strong> panjimail.com</p>
      <p><strong>Password:</strong> ********</p>
      <p><strong>Profile Foto:</strong> profile_foto.jpg</p>
      <p><strong>Foto:</strong> foto.jpg</p>
    </div>
  </div>
</ion-content>
